.u-search {
  min-width: 250px;
}

.u-close {
  position: absolute;
  top: -8px;
  right: -8px;
}

.u-item {
  position: relative;
  min-width: 180px;
  min-height: 80px;
  max-height: 80px;
  border-radius: 3px;
  padding: 5px 2px 5px 5px;
}

.idetails {

}

.card-body:hover {
  cursor: pointer;
}

.u-move-to {
  position: absolute;
  top: 15px;
  right: 15px;
}

.dropdown-toggle::after {
  display: none;
}

.imenu {
  margin-right: 10px;
}
a:hover {
  background: rgb(250, 250, 250) !important;
}
