<form>
  <div class="d-flex justify-content-between mb-5">
    <div>
      <button class="btn btn-primary" (click)="savePortable()">Save Changes</button>
      <button class="btn btn-primary" [routerLink]="['/inventories/products/phones']">Cancel</button>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-header">
        {{ editOrCreatePhone }} Phone
      </div>
      <div class="row card-body">
        <div class="col-md col-lg pr-3">
          <div class="form-group row justify-content-end">
            <div class="col-lg-8 pr-3 h6">
              <strong>Product Informations</strong>
            </div>
          </div>
          <br/>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3">
              <label for="designation-text-input">Designation</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="portable.designation"
                     name="designation" id="designation-text-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3">
              <label for="exampleInputFile">File input</label>
            </div>
            <div class="col-lg-8">
              <input type="file" class="form-control-file" accept="image/*" id="exampleInputFile" aria-describedby="fileHelp"
              (change) ="onselectFile($event)"  name="file">
            </div>
          </div>
          <!--<div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="entrepotSelect">Entrepot</label>
            </div>
            <div class="col-lg-8">
              <select id="entrepotSelect" name="entrepot" (change)="onChangeEntrepotSelect($event.target.value)" class="form-control">
                <option [ngValue]="entrepot" *ngFor="let entrepot of listEntrepot">{{ entrepot.name }}</option>
              </select>
            </div>
          </div>-->
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="emplacementSelect">Emplacement</label>
            </div>
            <div class="col-lg-8">
              <select id="emplacementSelect" name="emplacement" [(ngModel)]="portable.emplacement" class="form-control">
                <option *ngFor="let emplace of listEmplacement" [selected]="portable.emplacement.id == emplace.id">
                  {{ emplace.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="volume-text-input">Volume</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" type="number" [(ngModel)]="portable.volume" name="volume"
                     id="volume-text-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="stk-alert-text-input">Stock Alert</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" type="number" [(ngModel)]="portable.stockAlert" name="stk-alert"
                     id="stk-alert-text-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="stk-min-text-input">Stock minimum</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" type="number" [(ngModel)]="portable.stockMinim" name="stk-min"
                     id="stk-min-text-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="measure-text-input">Measure Unit</label>
            </div>
            <div class="col-lg-8">
              <select id="measure-text-input" name="measure" [(ngModel)]="portable.measureUnit" class="form-control">
                <option *ngFor="let measur of listMeasureUnit" [selected]="portable.measureUnit.id == measur.id">
                  {{ measur.unity }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="p-categorie-text-input">Product Category</label>
            </div>
            <div class="col-lg-8">
              <select id="p-categorie-text-input" name="p-categorie" [(ngModel)]="portable.productCategory" class="form-control">
                <option *ngFor="let productcatego of listProductCategory" [selected]="portable.productCategory.id == productcatego.id">
                  {{ productcatego.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="state-text-input">State </label>
            </div>
            <div class="col-lg-8">
              <select id="state-text-input" name="p-categorie" [(ngModel)]="portable.state" class="form-control" [compareWith]="compareFn">
                <option *ngFor="let sta of listState" [selected]="portable.state.id == sta.id">
                  {{ sta.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="price-unit-text-input">Price Unit</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" type="number" [(ngModel)]="portable.priceUnit" name="price-unit"
                     id="price-unit-text-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="price-semi-whole-text-input">Price Semi-Wholesaler</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" type="number" [(ngModel)]="portable.priceUnitSemiWholesaler" name="price-semi-whole"
                     id="price-semi-whole-text-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="price-whole-text-input">Price Wholesaler</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" type="number" [(ngModel)]="portable.priceUnitWholesaler" name="price-whole"
                     id="price-whole-text-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="notes-text-input">Notes</label>
            </div>
            <div class="col-lg-8">
                      <textarea class="form-control" type="text" [(ngModel)]="portable.note" name="notes"
                                id="notes-text-input" rows="4"></textarea>
            </div>
          </div>
        </div>

        <div class="col-md col-lg pr-3">
          <div class="form-group row justify-content-end">
            <div class="col-lg-8 pr-3 h6">
              <strong>Phone Details</strong>
            </div>
          </div>
          <br/>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="phone-category-text-input">Phone Category</label>
            </div>
            <div class="col-lg-8">
              <select id="phone-category-text-input" name="ph-categorie" [(ngModel)]="portable.portableCategory" class="form-control">
                <option *ngFor="let portablecatego of listPortableCategory" [selected]="portable.portableCategory.id == portablecatego.id">
                  {{ portablecatego.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="phone-color-text-input">Phone Color
              </label>
            </div>
            <div class="col-lg-8">
              <select id="phone-color-text-input" name="ph-color" [(ngModel)]="portable.appColor" class="form-control" [compareWith]="compareFn">
                <option *ngFor="let color of listColor" [ngValue]="color">
                  {{ color.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="os-text-input">System OS</label>
            </div>
            <div class="col-lg-8">
              <select id="os-text-input" name="ph-os" [(ngModel)]="portable.os" class="form-control">
                <option *ngFor="let sysos of listSystemOs" [selected]="portable.os.id == sysos.id">
                  {{ sysos.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="processor-text-input">Processor</label>
            </div>
            <div class="col-lg-8">
              <select id="processor-text-input" name="processor" [(ngModel)]="portable.cpu" class="form-control">
                <option *ngFor="let cppu of listCpu" [selected]="portable.cpu.id == cppu.id">{{ cppu.brand }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="memory-text-input">Memory</label>
            </div>
            <div class="col-lg-8">
              <select id="memory-text-input" name="memory" [(ngModel)]="portable.memory" class="form-control">
                <option *ngFor="let memory of listMemory" [selected]="portable.memory.id == memory.id">
                  RAM : {{ memory.rom }} Go, ROM : {{ memory.ram }} Go
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="camera-text-input">Camera</label>
            </div>
            <div class="col-lg-8">
              <select id="camera-text-input" name="camera" [(ngModel)]="portable.camera" class="form-control">
                <option *ngFor="let cam of listCamera" [selected]="portable.camera.id == cam.id">
                  Back : {{ cam.backCamera }} MPixels, Front : {{ cam.frontCamera }} MPixels
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="dimension-text-input">Dimension</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" type="number" [(ngModel)]="portable.dimension" name="dimension"
                     id="dimension-text-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="battery-text-input">Battery</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="portable.battery" name="battery"
                     id="battery-text-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="connection-text-input">Connection</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="portable.connection" name="connection"
                     id="connection-text-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="iprating-text-input">IP Rating</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="portable.ipRating" name="iprating"
                     id="iprating-text-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="sim-text-input">SIM</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="portable.sim" name="sim"
                     id="sim-text-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="weight-text-input">Weight</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" type="number" [(ngModel)]="portable.weight" name="weight"
                     id="weight-text-input">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">

            </div>
            <div class="col-lg-8">
              <label for="dushproof-input" class="custom-control custom-checkbox">
                <input id="dushproof-input" type="checkbox" class="custom-control-input" [(ngModel)]="portable.dushproof" name="dushproof">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Dushproof</span>
              </label>
              <label for="waterproof-input" class="custom-control custom-checkbox">
                <input id="waterproof-input" type="checkbox" class="custom-control-input" [(ngModel)]="portable.waterproof" name="waterproof">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Waterproof</span>
              </label>
              <label for="splashproof-input" class="custom-control custom-checkbox">
                <input id="splashproof-input" type="checkbox" class="custom-control-input" [(ngModel)]="portable.splashproof" name="splashproof">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Splashproof</span>
              </label>
              <label for="fingerprint-input" class="custom-control custom-checkbox">
                <input id="fingerprint-input" type="checkbox" class="custom-control-input" [(ngModel)]="portable.fingerprint" name="fingerprint">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Fingerprint</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
