<div class="d-flex justify-content-between mb-5">
  <div>
    <button class="btn btn-primary" (click)="open(formGroup)">
      <i class="fa fa-plus-circle fa-lg mr-1"></i>Add Group
    </button>
  </div>
  <div class="u-search">
    <form>
      <div class="form-group input-group">
        <div class="input-group-addon bg-search"><i class="fa fa-search fa-lg"></i></div>
        <input type="search" placeholder="Search" [(ngModel)] ="motCle" class="form-control" name="groupSearch">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="bouton" (click)="searchGroup()" style="display:none"><span class="fa fa-search"></span></button>
      </div>
    </form>
  </div>
</div>

<div class="card" *ngIf="groupes.length != 0">
  <div class="card-header">
    List of Groups
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Group Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let gro of groupes; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td class="text-uppercase">{{ gro.name }}</td>
          <td>
            <button class="btn btn-warning table-btn-width" (click)="open(formGroup, gro)">
              <i class="fa fa-pencil fa-lg mr-1"></i>Edit
            </button>&nbsp;&nbsp;
            <button class="btn btn-danger table-btn-width" (click)="open(deleteGroup, gro)">
              <i class="fa fa-trash fa-lg mr-1"></i>Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<strong *ngIf="groupes.length == 0">
  {{tableMessage}}
</strong>

<div class="" *ngIf="mode == 3">
  <p>Edit Group</p>
</div>

<ng-template #deleteGroup let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Delete Group</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete recipient <strong>{{groupe.name}}</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDeleteGroup()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>

<ng-template #formGroup let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{addEditCardHeader}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <p>Enter Role Informations for Group</p>
        <div class="form-group row">
          <label for="role-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Group Name</label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <input class="form-control" type="text" [(ngModel)]="groupe.name" id="role-text-input" name="groupName">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveGroup()">Save changes</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
