<div class="card bg-transparent">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="saveMouvment()">Save</button>
      <button class="btn btn-primary" (click)="cancelRegister()">Cancel</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Transaction Informations
  </div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <label for="idblabla1">Employe</label>
        <input id="idblabla1" type="text" class="form-control">
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <label for="idReference">Reference</label>
        <input id="idReference" type="text" class="form-control">
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <label for="idblabla2">Type</label>
        <input id="idblabla2" type="text" class="form-control">
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <label for="idblabla3">Recipient</label>
        <input id="idblabla3" type="text" class="form-control">
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Transactions Products &nbsp;<button class="btn btn-secondary btn-sm">Add</button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price Unit</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let emplacement of [1,2,3,4,5]; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>MMMMMMMMMMMMMMMMM</td>
          <td>MMMMMMMMMMMMMMMMM</td>
          <td>MMMMMMMMMMMMMMMMM</td>
          <td>
            <a href="javascript:;" (click)="open(formEmplacement, emplacement)">edit</a> &nbsp;&nbsp;
            <a href="javascript:;" (click)="open(deleteEmplacement, emplacement)">delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
