<div class="card bg-transparent">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="saveMouvment()" [disabled]="mouvment.priceTotal== 0">
        Save
      </button>
      <button class="btn btn-primary" [routerLink]="['/inventories/transactions']">Cancel</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Transfert Informations
  </div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <label for="idEmployee">Employee:</label>
        <input id="idEmployee" type="text" class="form-control text-uppercase" value="{{user.employee.name}} {{user.employee.surname}}" disabled>
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <label for="idReference">Reference:</label>
        <input id="idReference" type="text" [(ngModel)]="mouvment.reference" disabled class="form-control">
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <label for="ddFormInput">Date:</label>
        <input type="date" class="form-control" [(ngModel)]="mouvment.date" id="ddFormInput" >
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <label for="idblabla3">Workspace Receiver Name:</label>
        <select class="custom-select form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="mouvment.entrepotReceiver" id="idblabla3">
          <option *ngFor="let workSpace of workSpaces" [ngValue]="workSpace">{{ workSpace.name }}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="row w-100">
      <div class="col">
        <span class="mr-3">Transactions Products</span>
        <button class="btn btn-secondary btn-sm" (click)="open(formAddProduct)">Add</button>
        <button class="btn btn-danger btn-sm ml-3" (click)="removeMouvment()" [disabled]="mouvment.mouvmentLines?.length == 0">Clear All</button>
      </div>
      <div class="col text-right">
        <strong class="h5">Total : {{mouvment.priceTotal | currency:'XAF':'symbol':'0.0-0':'fr-CM'}}</strong>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>#</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price Unit</th>
            <th>Total</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let mouvLine of mouvment.mouvmentLines; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ mouvLine.product.designation }}</td>
          <td>{{ mouvLine.quantity }}</td>
          <td>{{ mouvLine.product.priceUnit }}</td>
          <td>{{ mouvLine.priceTotal }}</td>
          <td>{{ mouvLine.note }}</td>
          <td>
            <button class="btn btn-primary btn-sm mt-1" (click)="open(formAddItem, mouvLine)">Add Item</button>
            <!--<button class="btn btn-warning btn-sm bt" (click)="open(formAddProduct, mouvLine)">edit</button>-->
            <button class="btn btn-danger btn-sm mt-1" (click)="removeMouvmentLine(mouvLine)">Remove</button>
            <button class="btn btn-info btn-sm mt-1" (click)="open(formMouvLineDetails, mouvLine)">Details</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #formMouvLineDetails let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{addEditCardHeader}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-default">
            <tr>
              <th>#</th>
              <th>Reference</th>
              <th>Serial</th>
              <th>Code Bar</th>
              <th>QR Code</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let portableItem of mouvmentLine.productsItem; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ portableItem.reference }}</td>
              <td>{{ portableItem.serial }}</td>
              <td>{{ portableItem.codeBar }}</td>
              <td>{{ portableItem.codeQrc }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #formAddItem let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{addEditCardHeader}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <ng-multiselect-dropdown
          [placeholder]="'Serials Numbers'"
          [data]="listPortableItem"
          [(ngModel)]="mouvmentLine.productsItem"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeFormItem()">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="listItemSelRemoved.length == 0" (click)="onAddMouvmentLineItem()">
      Save changes</button>
  </div>
</ng-template>

<ng-template #formAddProduct let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{addEditCardHeader}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <p>Enter Line Informations</p>
        <div class="form-group row">
          <label for="prod-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Product</label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <select class="custom-select form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="mouvmentLine.product" id="prod-text-input">
              <!--<option value="{{ null }}" selected>Choose...</option>-->
              <option *ngFor="let prod of listProduct" [ngValue]="prod">
                {{ prod.designation }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="desc-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Description</label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <textarea class="form-control" type="text" rows="4" [(ngModel)]="mouvmentLine.note" id="desc-text-input"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="mouvmentLine.product.id == null" (click)="onAddMouvmentLine()">Save changes</button>
  </div>
</ng-template>

<ng-template #formMouvLineItem let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{addEditCardHeader}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col form-group">
            <label for="searchitem">Search</label>
            <input type="text" id="searchitem" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <select size="10" multiple class="custom-select form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="listPortableItemSelectedTemp" id="porItem-text-input" style="height: 150px">
              <option value="{{ null }}">No Choice</option>
              <option [ngValue]="prodItem" *ngFor="let prodItem of listPortableItem">{{ prodItem.portable.designation }} {{ prodItem.reference }}</option>
            </select>
          </div>
          <div class="form-group col">
            <select  size="10" class="custom-select form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="listPortableItemRemovedTemp" id="porItem1-text-input" style="height: 150px">
              <option value="{{ null }}">No Choice</option>
              <option *ngFor="let prod of mouvmentLine.productsItem" [ngValue]="prod">{{ prod.portable.designation }} {{ prod.reference }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onAddMouvmentLine()">Save changes</button>
  </div>
</ng-template>
