<div class="d-flex justify-content-between mb-5">
  <div>
    <button class="btn btn-primary" (click)="open(formWorkSpace)" >Add Work Space</button>
  </div>
  <div class="u-search">
    <form>
      <div class="form-group">
        <input type="search" placeholder="Search" class="form-control" [(ngModel)] ="keyWords" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="bouton" (click)="search()" style="display:none"><span class="fa fa-search"></span></button>
      </div>
    </form>
  </div>
</div>
<div class="row" *ngIf="listWorkSpaces.length != 0">
  <div class="col-sm-6 col-md-4 col-lg-3 justify-content-center" *ngFor="let workSpace of listWorkSpaces">
    <div class="card card-body card-widget bg-white card-inverse">
      <div ngbDropdown placement="bottom-right">
        <button class="imenu" id="downMenu" href="javascript:;" ngbDropdownToggle>
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="downMenu">
          <a class="dropdown-item" href="javascript:;" (click)="open(DetailsWorkSpace, workSpace, 3)">
            <i class="icon icon-basic-settings mr-3"></i>
            <span>Details</span>
          </a>
          <a class="dropdown-item" href="javascript:;" (click)="open(formWorkSpace, workSpace, 1)">
            <i class="icon icon-basic-postcard mr-3"></i>
            <span>Edit</span>
          </a>
          <a class="dropdown-item" (click)="open(deleteWorkSpaceConfirmation, workSpace, 2)">
            <i class="icon icon-basic-message-multiple mr-3"></i>
            <span>Delete</span>
          </a>
        </div>
      </div>
      <div class="pl-3 pr-3 col-sm-12">
        <p class="text-uppercase ff-headers mb-0">
            <strong>
              <span class="d-inline-block text-truncate">
                  {{workSpace.name}}
              </span>
            </strong>
        </p>
        <small class="d-block">
          <span class="d-inline-block text-truncate">
              {{workSpace.localisation}}
          </span>
        </small>
        <small class="d-block">
          <span class="d-inline-block text-truncate">
              {{workSpace.workSpaceType}}
          </span>
        </small>
      </div>
    </div>
  </div>
</div>
<strong *ngIf="listWorkSpaces.length == 0">
  {{tableMessage}}
</strong>

<ng-template #formWorkSpace let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{modalTitle}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="c('Close click'); open(DetailsWorkSpace, workSpace, 4)">
    <div class="modal-body">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label class="control-label">Name:</label>
            <input [ngClass]="arrangeClass('name')" class="form-control" [(ngModel)]="workSpace.name" type="text" formControlName="name">
            <div class="text-danger mt-2" *ngIf="isUnValid('name')">
              The name of work space is required
            </div>
            <div class="text-warning mt-2" *ngIf="workSpace.name.length > MAX_LENGHT_CARD_TEXT">
              <i class="fa fa-warning"></i> The name may be truncated when displaying.
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Localisation:</label>
            <input [ngClass]="arrangeClass('localisation')" class="form-control" [(ngModel)]="workSpace.localisation" type="text" formControlName="localisation">
            <div class="text-danger mt-2" *ngIf="isUnValid('localisation')">
              The localisation of work space is required
            </div>
            <div class="text-warning mt-2" *ngIf="workSpace.localisation.length > (MAX_LENGHT_CARD_TEXT * 2) - 4">
              <i class="fa fa-warning"></i> The localisation may be truncated when displaying.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!form.valid">Submit</button>
        <button class="btn btn-primary navbar-btn" (click)="c('Close click'); loadWorkSpaces()">Cancel</button>
    </div>
  </form>
</ng-template>

<ng-template #DetailsWorkSpace let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{modalTitle}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="bottom-spacer text-center">
          Work Spaces Informations
          <p></p>
        </div>
        <div class="form-group row">
          <label class="col-sm-3">Name</label>
          <div class="col-sm-9">
            <label><strong>{{workSpace.name}}</strong></label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3">Localisation</label>
          <div class="col-sm-9">
            <label><strong>{{workSpace.localisation}}</strong></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" *ngIf="modalTitle.includes('Detail')" (click)="c('Close click')">Ok</button>
    <div *ngIf="modalTitle.includes('Confirm')">
      <button class="btn btn-primary"  (click)="c('Close click'); saveInformation()">Save Informations</button>
      <button class="btn btn-primary navbar-btn" (click)="c('Close click'); preview(formWorkSpace)">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #deleteWorkSpaceConfirmation let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{modalTitle}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete work space
      <strong>{{ workSpace.name }} ({{ workSpace.workSpaceType }})</strong>?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click'); deleteWorkSpace()">Yes</button>
  </div>
</ng-template>

