<div class="d-flex justify-content-between mb-5">
  <div>
    <button class="btn btn-primary" (click)="open(formMemory)">
      <i class="fa fa-plus-circle fa-lg mr-1"></i>Add Camera
    </button>
  </div>
  <div class="u-search">
    <form>
      <div class="form-group input-group">
        <div class="input-group-addon bg-search"><i class="fa fa-search fa-lg"></i></div>
        <input type="search" placeholder="Search" class="form-control" [(ngModel)]="motCle" name="memorySearch">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="bouton" (click)="searchMemory()"
                style="display:none"><span class="fa fa-search"></span></button>
      </div>
    </form>
  </div>
</div>

<div class="card" *ngIf="memories.length != 0">
  <div class="card-header">
    List of Memories
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Ram</th>
          <th>Rom</th>
          <th>Brand</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let mem of memories; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td class="text-uppercase">{{ mem.ram }}</td>
          <td>{{ mem.rom }}</td>
          <td>{{ mem.brand}}</td>
          <td>
            <button class="btn btn-warning table-btn-width" (click)="open(formMemory, mem)">
              <i class="fa fa-edit fa-lg mr-1"></i>Edit
            </button>
            <button class="btn btn-danger table-btn-width" (click)="open(deleteMemory, mem)">
              <i class="fa fa-trash fa-lg mr-1"></i>Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<strong *ngIf="memories.length == 0">
  {{tableMessage}}
</strong>

<ng-template #deleteMemory let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Delete Memory</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete memory <strong> {{ memory.brand }} (RAM : {{ memory.ram }} GB, ROM : {{
      memory.rom }} GB)</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDeleteMemory()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>

<ng-template #formMemory let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{addEditCardHeader}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSaveMemory()">
    <div class="modal-body">
      <div class="card">
        <div class="card-body">
          <p>Enter Memory Informations</p>
          <div class="form-group row">
            <label for="role-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">RAM: </label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <input [ngClass]="arrangeClass('ramMemory')" class="form-control" type="number" [(ngModel)]="memory.ram"
                     id="role-text-input" formControlName="ramMemory">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('ramMemory')">
                RAM is required and must be greater than or equal to 0.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="desc-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">ROM: </label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <input [ngClass]="arrangeClass('romMemory')" class="form-control" type="number" [(ngModel)]="memory.rom"
                     id="desc-text-input" formControlName="romMemory">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('romMemory')">
                ROM is required and must be greater than or equal to 0.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="desc-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">BRAND: </label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <input [ngClass]="arrangeClass('brandMemory')" class="form-control" type="text" [(ngModel)]="memory.brand"
                     id="bra-text-input" formControlName="brandMemory">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('brandMemory')">
                Brand field is required.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="formUnValid()">Save changes</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </form>
</ng-template>
