<div class="d-flex justify-content-between">
  <div>
    <button class="btn btn-primary" (click)="open(formMemory)">Create Camera</button>
  </div>
  <div class="u-search">
    <form>
      <div class="form-group">
        <input type="search" placeholder="Search" class="form-control" [(ngModel)]="motCle" name="memorySearch">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="bouton" (click)="searchMemory()" style="display:none"><span class="fa fa-search"></span></button>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-header">
    List of Memories
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Ram</th>
          <th>Rom</th>
          <th>Brand</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let mem of memories; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td class="text-uppercase">{{ mem.ram }}</td>
          <td>{{ mem.rom }}</td>
          <td>{{ mem.brand}}</td>
          <td>
            <a href="javascript:;" (click)="open(formMemory, mem)">edit</a> &nbsp;&nbsp;
            <a href="javascript:;" (click)="open(deleteMemory, mem)">delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="" *ngIf="mode == 3">
  <p>Edit Memory</p>
</div>

<ng-template #deleteMemory let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Delete Memory</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onDeleteMemory()">Yes</button>
  </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #formMemory let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{addEditCardHeader}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <p>Enter Role Informations for Memory</p>
        <div class="form-group row">
          <label for="role-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">RAM: </label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <input class="form-control" type="number" [(ngModel)]="memory.ram" id="role-text-input" name="ramMemory">
          </div>
        </div>
        <div class="form-group row">
          <label for="desc-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">ROM: </label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <input class="form-control" type="number" [(ngModel)]="memory.rom" id="desc-text-input" name="romMemory">
          </div>
        </div>
        <div class="form-group row">
          <label for="desc-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">BRAND: </label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <input class="form-control" type="text" [(ngModel)]="memory.brand" id="bra-text-input" name="brandMemory">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSaveMemory()">Save changes</button>
  </div>
</ng-template>
