
  <form [formGroup]="form" (ngSubmit)="savePortable()">
  <div class="d-flex justify-content-between mb-5">
    <div>
      <button type="submit" class="btn btn-success" [disabled]="formUnValid()">Save changes</button>
      <button type="button" class="btn btn-primary" [routerLink]="['/inventories/products/phones']">Cancel</button>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-header">
        {{ editOrCreatePhone }} Phone
      </div>
      <div class="row card-body">
        <div class="col-md col-lg pr-3">
          <div class="form-group row justify-content-end">
            <div class="col-lg-8 pr-3 h6">
              <strong>Product Informations</strong>
            </div>
          </div>
          <br/>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3">
              <label for="designation-text-input">Designation: </label>
            </div>
            <div class="col-lg-8">
              <input [ngClass]="arrangeClass('designation')" class="form-control" type="text" [(ngModel)]="portable.designation"
                     formControlName="designation" id="designation-text-input">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('designation')">
                Designation field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="emplacementSelect">Emplacement: </label>
            </div>
            <div class="col-lg-8">
              <select [ngClass]="arrangeClass('battery')"  id="emplacementSelect" formControlName="emplacement" class="form-control" [compareWith]="compareFn">
                <option *ngFor="let emplace of listEmplacement" [ngValue]="emplace">
                  {{ emplace.name }}
                </option>
              </select>
              <div class="text-danger mt-2 small" *ngIf="isUnValid('emplacement')">
                Emplacement field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="volume-text-input">Volume: </label>
            </div>
            <div class="col-lg-8">
              <input [ngClass]="arrangeClass('volume')" class="form-control" type="number" [(ngModel)]="portable.volume" formControlName="volume"
                     id="volume-text-input">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('volume')">
                Volume field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="stk-alert-text-input">Stock Alert: </label>
            </div>
            <div class="col-lg-8">
              <input [ngClass]="arrangeClass('stk-alert')" class="form-control" type="number" [(ngModel)]="portable.stockAlert" formControlName="stk-alert"
                     id="stk-alert-text-input">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('stk-alert')">
                Stock Alert field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="stk-min-text-input">Stock minimum: </label>
            </div>
            <div class="col-lg-8">
              <input [ngClass]="arrangeClass('stk-min')" class="form-control" type="number" [(ngModel)]="portable.stockMinim" formControlName="stk-min"
                     id="stk-min-text-input">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('stk-min')">
                Stock minimum field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="measure-text-input">Measure Unit: </label>
            </div>
            <div class="col-lg-8">
              <select [ngClass]="arrangeClass('measure')"  id="measure-text-input" formControlName="measure" class="form-control" [compareWith]="compareFn">
                <option *ngFor="let measur of listMeasureUnit" [ngValue]="measur">
                  {{ measur.unity }}
                </option>
              </select>
              <div class="text-danger mt-2 small" *ngIf="isUnValid('measure')">
                Measure Unit field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="p-categorie-text-input">Product Category: </label>
            </div>
            <div class="col-lg-8">
              <select [ngClass]="arrangeClass('p-categorie')"  id="p-categorie-text-input" formControlName="p-categorie" class="form-control" [compareWith]="compareFn">
                <option *ngFor="let productcatego of listProductCategory" [ngValue]="productcatego">
                  {{ productcatego.name }}
                </option>
              </select>
              <div class="text-danger mt-2 small" *ngIf="isUnValid('p-categorie')">
                Product Category field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="state-text-input">State: </label>
            </div>
            <div class="col-lg-8">
              <select [ngClass]="arrangeClass('state')"  id="state-text-input" formControlName="state" [(ngModel)]="portable.state" class="form-control" [compareWith]="compareFn">
                <option *ngFor="let sta of listState" [ngValue]="sta">
                  {{ sta.name }}
                </option>
              </select>
              <div class="text-danger mt-2 small" *ngIf="isUnValid('state')">
                State field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="price-unit-text-input">Price Unit: </label>
            </div>
            <div class="col-lg-8">
              <input [ngClass]="arrangeClass('price-unit')" class="form-control" type="number" [(ngModel)]="portable.priceUnit" formControlName="price-unit"
                     id="price-unit-text-input">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('price-unit')">
                Price Unit field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="price-semi-whole-text-input">Price Semi-Wholesaler: </label>
            </div>
            <div class="col-lg-8">
              <input [ngClass]="arrangeClass('price-semi-whole')" class="form-control" type="number" [(ngModel)]="portable.priceUnitSemiWholesaler" formControlName="price-semi-whole"
                     id="price-semi-whole-text-input">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('price-semi-whole')">
                Price semi-Wholesaler field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="price-whole-text-input">Price Wholesaler: </label>
            </div>
            <div class="col-lg-8">
              <input [ngClass]="arrangeClass('price-whole')" class="form-control" type="number" [(ngModel)]="portable.priceUnitWholesaler" formControlName="price-whole"
                     id="price-whole-text-input">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('price-whole')">
                Price Wholesaler field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="notes-text-input">Notes: </label>
            </div>
            <div class="col-lg-8">
              <textarea [ngClass]="arrangeClass('notes')" class="form-control" type="text" [(ngModel)]="portable.note" formControlName="notes"
                        id="notes-text-input" rows="4"></textarea>
              <div class="text-danger mt-2 small" *ngIf="isUnValid('notes')">
                Notes field is required.
              </div>
            </div>
          </div>
        </div>

        <div class="col-md col-lg pr-3">
          <div class="form-group row justify-content-end">
            <div class="col-lg-8 pr-3 h6">
              <strong>Phone Details</strong>
            </div>
          </div>
          <br/>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="phone-category-text-input">Phone Category: </label>
            </div>
            <div class="col-lg-8">
              <select [ngClass]="arrangeClass('ph-categorie')"  id="phone-category-text-input" formControlName="ph-categorie" class="form-control" [compareWith]="compareFn">
                <option *ngFor="let portablecatego of listPortableCategory" [ngValue]="portablecatego">
                  {{ portablecatego.name }}
                </option>
              </select>
              <div class="text-danger mt-2 small" *ngIf="isUnValid('ph-categorie')">
                Phone Category field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="phone-color-text-input">Phone Color: </label>
            </div>
            <div class="col-lg-8">
              <select [ngClass]="arrangeClass('ph-color')"  id="phone-color-text-input" formControlName="ph-color" class="form-control" [compareWith]="compareFn">
                <option *ngFor="let color of listColor" [ngValue]="color">
                  {{ color.name }}
                </option>
              </select>
              <div class="text-danger mt-2 small" *ngIf="isUnValid('ph-color')">
                Color field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="os-text-input">System OS: </label>
            </div>
            <div class="col-lg-8">
              <select [ngClass]="arrangeClass('ph-os')"  id="os-text-input" formControlName="ph-os" class="form-control" [compareWith]="compareFn">
                <option *ngFor="let sysos of listSystemOs" [ngValue]="sysos">
                  {{ sysos.name }}
                </option>
              </select>
              <div class="text-danger mt-2 small" *ngIf="isUnValid('ph-os')">
                System OS field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="processor-text-input">Processor: </label>
            </div>
            <div class="col-lg-8">
              <select [ngClass]="arrangeClass('processor')"  id="processor-text-input" formControlName="processor" class="form-control" [compareWith]="compareFn">
                <option *ngFor="let cppu of listCpu" [ngValue]="cppu">{{ cppu.brand }}</option>
              </select>
              <div class="text-danger mt-2 small" *ngIf="isUnValid('processor')">
                Processor field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="memory-text-input">Memory: </label>
            </div>
            <div class="col-lg-8">
              <select [ngClass]="arrangeClass('memory')"  id="memory-text-input" formControlName="memory" class="form-control" [compareWith]="compareFn">
                <option *ngFor="let memory of listMemory" [ngValue]="memory">
                  RAM : {{ memory.rom }} Go, ROM : {{ memory.ram }} Go
                </option>
              </select>
              <div class="text-danger mt-2 small" *ngIf="isUnValid('memory')">
                Memory field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="camera-text-input">Camera: </label>
            </div>
            <div class="col-lg-8">
              <select [ngClass]="arrangeClass('camera')"  id="camera-text-input" formControlName="camera" class="form-control" [compareWith]="compareFn">
                <option *ngFor="let cam of listCamera" [ngValue]="cam">
                  Back : {{ cam.backCamera }} MPixels, Front : {{ cam.frontCamera }} MPixels
                </option>
              </select>
              <div class="text-danger mt-2 small" *ngIf="isUnValid('camera')">
                Camera field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="dimension-text-input">Dimension: </label>
            </div>
            <div class="col-lg-8">
              <input [ngClass]="arrangeClass('dimension')" class="form-control" type="number" [(ngModel)]="portable.dimension" formControlName="dimension"
                     id="dimension-text-input">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('dimension')">
                Dimension field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="battery-text-input">Battery: </label>
            </div>
            <div class="col-lg-8">
              <input [ngClass]="arrangeClass('battery')" class="form-control" type="text" [(ngModel)]="portable.battery" formControlName="battery"
                     id="battery-text-input">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('battery')">
                Battery field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="connection-text-input">Connection: </label>
            </div>
            <div class="col-lg-8">
              <input [ngClass]="arrangeClass('connection')" class="form-control" type="text" [(ngModel)]="portable.connection" formControlName="connection"
                     id="connection-text-input">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('connection')">
                Connection field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="iprating-text-input">IP Rating: </label>
            </div>
            <div class="col-lg-8">
              <input [ngClass]="arrangeClass('iprating')" class="form-control" type="text" [(ngModel)]="portable.ipRating" formControlName="iprating"
                     id="iprating-text-input">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('iprating')">
                IP Rating field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="sim-text-input">SIM: </label>
            </div>
            <div class="col-lg-8">
              <input [ngClass]="arrangeClass('sim')" class="form-control" type="text" [(ngModel)]="portable.sim" formControlName="sim"
                     id="sim-text-input">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('sim')">
                Sim field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3 ">
              <label for="weight-text-input">Weight: </label>
            </div>
            <div class="col-lg-8">
              <input [ngClass]="arrangeClass('weight')" class="form-control" type="number" [(ngModel)]="portable.weight" formControlName="weight"
                     id="weight-text-input">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('weight')">
                Weight field is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-4 text-lg-right pr-3">
              <label for="exampleInputFile">File input: </label>
            </div>
            <div class="col-lg-8">
              <input type="file" class="form-control-file" accept="image/*" id="exampleInputFile" aria-describedby="fileHelp"
              (change) ="onselectFile($event)"  name="file">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
