
<div class="d-flex justify-content-between mb-5">
  <div>
    <button class="btn btn-primary" (click)="open(formUser)">
      <i class="fa fa-plus-circle fa-lg mr-1"></i>Add User
    </button>
  </div>
  <div class="u-search">
    <form>
      <div class="form-group input-group">
        <div class="input-group-addon bg-search"><i class="fa fa-search fa-lg"></i></div>
        <input type="search" placeholder="Search" class="form-control" [(ngModel)] ="motcle" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="bouton" (click)="searchUser()" style="display:none"><span class="fa fa-search"></span></button>
      </div>
    </form>
  </div>
</div>

<div class="row" *ngIf="users.length != 0">
  <div class="col-sm-6 col-md-4 col-lg-3 justify-content-center" *ngFor="let usr of users">
    <div class="card card-body card-widget bg-white card-inverse">
      <div ngbDropdown placement="bottom-left">
        <button class="imenu" id="downMenu" href="javascript:;" ngbDropdownToggle>
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="downMenu">
          <a class="dropdown-item" href="javascript:;" (click)="open(formUser, usr, 1)">
            <i class="fa fa-edit fa-lg mr-1"></i>
            <span>Edit</span>
          </a>
          <a class="dropdown-item" href="javascript:;" (click)="open(deleteUserConfirmation, usr, 2)">
            <i class="fa fa-trash fa-lg mr-1"></i>
            <span>Delete</span>
          </a>
          <a class="dropdown-item" href="javascript:;" (click)="open(userDetails, usr, 3)">
            <i class="fa fa-info-circle fa-lg mr-3"></i>
            <span>Details</span>
          </a>
        </div>
      </div>
      <a href="javascript:;">
        <img [src]="searchImages(usr.employee.photo)" class="avatar-sm rounded-circle" alt="">
      </a>
      <div class="pl-3 pr-3 col-sm-10">
        <p class="ff-headers mb-0 text-uppercase"><strong>
            <span class="d-inline-block text-truncate">
              {{usr.username}}
            </span>
          </strong>
        </p>
        <small class="d-block">
          <span class="d-inline-block text-truncate">
              {{ usr.employee.name }}  {{ usr.employee.surname }}
          </span>
        </small>
        <small class="d-block">
          <span class="d-inline-block text-truncate">
              {{ usr.employee.phone }}
          </span>
        </small>
        <small class="d-block">
          <span class="d-inline-block text-truncate">
              {{ usr.email }}
          </span>
        </small>
        <small class="d-block">
          <span class="d-inline-block text-truncate">
              {{ usr.employee.poste }}
          </span>
        </small>
        <small class="d-block">
          <span class="d-inline-block text-truncate">
              {{ usr.employee.workSpace.name }}
          </span>
        </small>
      </div>
    </div>
  </div>
</div>
<strong *ngIf="users.length == 0">
  {{tableMessage}}
</strong>

<ng-template #deleteUserConfirmation let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Delete User</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete user
      <strong>{{ user.employee.name }} {{ user.employee.surname }}</strong>
      identify by <strong>{{user.username}}</strong>?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDeleteUser()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>


<ng-template #userDetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{addEditCardHeader}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 text-center">
            <p></p>
            User Informations
          </div>
          <div class="col-sm-6 text-center">
            <img src="assets/images/avatar.jpg" class="avatar-md rounded-circle" alt="">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3">Username</label>
          <div class="col-sm-9">
            <label><strong>{{user.username}}</strong></label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3">Email</label>
          <div class="col-sm-9">
            <label><strong>{{user.email}}</strong></label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3">Employee</label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <label><strong>{{ user.employee.name }} {{ user.employee.surname }}</strong></label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3">Roles</label>
          <div class="col-sm-9">
            <div class="row">
              <div class="col">
                <select multiple name="rolesSel" [(ngModel)]="rolSelRemoved" class="form-control" [compareWith]="compareFn">
                  <option [ngValue]="r" *ngFor="let r of user.roles">{{ r.roleName }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #formUser let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{addEditCardHeader}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSaveUser()">
    <div class="modal-body">
      <div class="card">
        <div class="card-body">
          <p>Enter User Informations to Sign in.</p>
          <div class="form-group row">
            <label for="example-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Username</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <input [ngClass]="arrangeClass('username')" class="form-control" type="text" [(ngModel)]="user.username" formControlName="username"
                     id="example-text-input">
              <div class="text-danger mt-2 small text-capitalize" *ngIf="isUnValid('username')">
                Username is required
              </div>
              <div class="text-warning mt-2" *ngIf="user.username.length > (MAX_LENGHT_CARD_TEXT * 2) - 4">
                <i class="fa fa-warning"></i> risk of truncation username.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-md-4 col-lg-3 col-form-label">Password</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <div class="row">
                <div class="col-4 col-sm-4">
                  <button type="button" class="btn btn-primary" (click)="generatePassword()">Generate</button> &nbsp;
                </div>
                <div class="col-8 col-sm-8">
                  <input class="form-control" type="text" [(ngModel)]="user.password" formControlName="password" id="password">

                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="email-input1" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Email</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <input [ngClass]="arrangeClass('email')" class="form-control" type="email" [(ngModel)]="user.email" formControlName="email" id="email-input1">
              <div class="text-danger mt-2 small text-capitalize" *ngIf="isUnValid('email')">
                email is required
              </div>
              <div class="text-warning mt-2" *ngIf="user.email.length > (MAX_LENGHT_CARD_TEXT * 2) - 4">
                <i class="fa fa-warning"></i> risk of truncation email.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="employee-input1" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Employee</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <select [ngClass]="arrangeClass('employee')" formControlName="employee" class="form-control" id="employee-input1" [compareWith]="compareFn">
                  <option *ngFor="let empItem of employees" [ngValue]="empItem">
                      {{ empItem.name }} {{ empItem.surname}}
                  </option>
                </select>
              </div>
              <div class="text-danger mt-2 small text-capitalize" *ngIf="isUnValid('employee')">
                employee is required
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleSelect22" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Roles</label>
            <div class="col-sm-9 col-md-8 col-lg-9">
              <div class="row">
                <div class="col">
                  <select id="exampleSelect22" multiple name="roles" [(ngModel)]="rolesSel" [ngModelOptions]="{standalone: true}" class="form-control"
                          [compareWith]="compareFn" required>
                    <option *ngFor="let roleItem of roles" title="{{roleItem.description}}" [ngValue]="roleItem">{{roleItem.roleName}}</option>
                  </select>
                  <div class="text-right mt-1">
                    <button type="button" class="btn btn-secondary btn-sm" (click)="addRole()">Push <i
                      class="fa fa-chevron-right"></i></button>
                  </div>
                </div>
                <div class="col">
                  <select multiple name="rolesSel" [(ngModel)]="rolSelRemoved" class="form-control" [ngModelOptions]="{standalone: true}" [compareWith]="compareFn">
                    <option *ngFor="let r of user.roles" [ngValue]="r">{{ r.roleName }}</option>
                  </select>
                  <!-- <span *ngFor="let r of roleSelected" class="badge badge-success rounded">{{r}} &nbsp; </span> -->
                  <div class="text-right mt-1">
                    <button type="button" class="btn btn-warning btn-sm" (click)="clearSelectedRole()">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="formUnValid()">Save changes</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </form>
</ng-template>



