<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">Products Details (in Number of products)</div>
      <div class="card-body" *ngIf="dashboardConform(single)">
        <div>
          <ngx-charts-advanced-pie-chart
            class="chart-container"
            [scheme]="colorScheme"
            [results]="single"
            (legendLabelClick)="onLegendLabelClick($event)"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            (select)="select($event)">
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-header">Entrepot Details (in Number of products available)</div>
      <div class="card-body" *ngIf="dashboardConform(entrepotDescription)">
        <div>
          <ngx-charts-advanced-pie-chart
            class="chart-container"
            [scheme]="colorScheme"
            [results]="entrepotDescription"
            (legendLabelClick)="onLegendLabelEntrepotClick($event)"
            [gradient]="gradient"
            [tooltipDisabled]="tooltipDisabled"
            (select)="selectEntrepot($event)">
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>
