
<div class="container">
    <div class="text-center">
      <h2>Applications</h2>
      <p>All applications you need to work here.</p>
      <strong class="module">{{textMessage}}</strong>
    </div>
    <div class="row pt-sm-5">
      <div class="col-md-3" *ngFor="let menu of menus">
        <a (click)="loading(menu)" >
          <div class="card card-body card-widget {{ menu.color }} card-inverse">
            <div class="mr-auto">
              <h4 class="fw-300 mb-0">{{ menu.name }}</h4>
              <small>{{ menu.description }}</small>
            </div>
            <div class="d-block">
              <i class="fa {{ menu.icon }} fa-3x"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
</div>
