<div class="d-flex justify-content-end mb-5">
  <!--<div>
    <button class="btn btn-primary" (click)="open(formItem)">Create Item</button>
  </div>-->
  <div class="u-search">
    <form>
      <div class="form-group input-group">
        <div class="input-group-addon bg-search"><i class="fa fa-search fa-lg"></i></div>
        <input type="search" placeholder="Search" class="form-control" [(ngModel)]="motCle" name="itemSearch">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="bouton" (click)="searchItem()" style="display:none"><span class="fa fa-search"></span></button>
      </div>
    </form>
  </div>
</div>

<div class="card" *ngIf="items.length != 0">
  <div class="card-header">
    List of Items
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Serial</th>
          <th>Code QRC</th>
          <th>Code Bar</th>
          <th>Available</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ite of items; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td class="text-uppercase">{{ ite.serial }}</td>
          <td>{{ ite.codeQrc }}</td>
          <td>{{ ite.codeBar}}</td>
          <td><input class="form-control" type="checkbox" checked="{{ ite.isAvailable}}" disabled></td>
          <td>
            <button class="btn btn-warning table-btn-width" (click)="open(formItem, ite)">
              <i class="fa fa-edit fa-lg mr-1"></i>Edit
            </button>&nbsp;
            <button class="btn btn-danger table-btn-width" (click)="open(deleteItem, ite)">
              <i class="fa fa-trash fa-lg mr-1"></i>Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<strong *ngIf="items.length == 0">
    {{tableMessage}}
 </strong>

<ng-template #deleteItem let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Delete Item</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete item with serial <strong>{{item.serial}}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDeleteItem()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>

<ng-template #formItem let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{addEditCardHeader}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSaveItem()">
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <p>Enter Item Informations</p>
        <div class="form-group row">
          <label for="role-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">SERIAL: </label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <input [ngClass]="arrangeClass('serialItem')" class="form-control" type="text" [(ngModel)]="item.serial" id="role-text-input" formControlName="serialItem">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('serialItem')">
                Serial is required.
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="desc-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">CODE QRC: </label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <input [ngClass]="arrangeClass('codeQrcItem')" class="form-control" type="text" [(ngModel)]="item.codeQrc" id="desc-text-input" formControlName="codeQrcItem">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('codeQrcItem')">
                Code QR is required.
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="desc-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">CODE BAR: </label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <input [ngClass]="arrangeClass('codeBarItem')" class="form-control" type="text" [(ngModel)]="item.codeBar" id="bra-text-input" formControlName="codeBarItem">
              <div class="text-danger mt-2 small" *ngIf="isUnValid('codeBarItem')">
                Code bar field is required.
              </div>
          </div>
        </div>
        <strong class="text-danger">{{message}}</strong>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" [disabled]="formUnValid()">Save changes</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
  </form>
</ng-template>
