<div class="d-flex justify-content-start mb-5">
  <div class="mb-3">
    <button class="btn btn-primary" (click)="newLivraison()">Livraison</button>
    <button class="btn btn-primary" (click)="makeApprovision()">Approvisionnement</button>
    <button class="btn btn-primary" (click)="makeTransfert()">Transfert</button>
  </div>
</div>

<ngb-accordion (panelChange)="beforeChange($event)">
  <ngb-panel id="1" title="Mouvment Filter">
    <ng-template ngbPanelContent>
      <form class="mb-4">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="m-md-2" for="refFormInput">Reference</label>
              <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="refFormInput" placeholder="Code">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="m-md-2" for="ddFormInput">Date debut</label>
              <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" id="ddFormInput" >
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="m-md-2" for="dfFormInput">Date Fin</label>
              <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" id="dfFormInput" >
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="m-md-2" for="typeFormCustomSelect">Type</label>
              <select class="custom-select form-control mb-2 mr-sm-2 mb-sm-0" id="typeFormCustomSelect">
                <option value="{{ null }}" selected>Choose...</option>
                <option value="{{ mvType }}" *ngFor="let mvType of listMouvmentType">{{ mvType.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<div class="card" *ngIf="listMouvment.length != 0">
  <div class="card-header">
    List of Mouvments
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table text-center">
        <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Reference</th>
          <th>Type</th>
          <th>Date</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Receiver</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let mouvment of listMouvment; let i = index">
          <th scope="row">{{i+1}}</th>
          <td class="text-uppercase">{{mouvment.reference}}</td>
          <td>{{mouvment.mouvmentType?.name}}</td>
          <td>{{mouvment.date | date}}</td>
          <td>{{mouvment.quantity}}</td>
          <td>{{mouvment.priceTotal | currency:'XAF':'symbol':'0.0-0':'fr-CM'}}</td>
          <td *ngIf="mouvment.recipient != null">{{mouvment.recipient.designation}}</td>
          <td *ngIf="mouvment.recipient == null">{{mouvment.entrepotRecipient?.name}}</td>
          <td>
            <button class="btn btn-warning table-btn-width" (click)="onEditMouvment(mouvment)">
              <i class="fa fa-edit fa-lg mr-1"></i>Edit
            </button>
            <button class="btn btn-danger table-btn-width" (click)="open(deleteMouvment, mouvment)">
              <i class="fa fa-trash fa-lg mr-1"></i>Delete
            </button>
            <!--<button class="btn btn-info btn-sm" (click)="open()">Details</button>-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<strong *ngIf="listMouvment.length == 0">
  {{textMessage}}
</strong>

<ng-template #deleteMouvment let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Delete Entrepot</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Etes vous sure de vouloir supprimer la transaction <strong>{{mouvment.reference}}</strong> ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onDeleteMouvment()">Yes</button>
  </div>
</ng-template>
