<div *ngIf="pageToLoad == 'listing page'">
  <div class="d-flex justify-content-between mb-5">
    <div>
      <button class="btn btn-primary" (click)="loadAddPage()" >Add Employee</button>
    </div>
    <div class="u-search">
      <form>
        <div class="form-group">
          <input type="search" placeholder="Search" class="form-control" [(ngModel)] ="keyWords" name="search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="bouton" (click)="search()" style="display:none"><span class="fa fa-search"></span></button>
        </div>
      </form>
    </div>
  </div>


  <div class="card">
    <div class="card-header">Employees list</div>
    <div class="table-responsive" *ngIf="listEmployees.length != 0">
      <table class="table align-middle mb-0">
        <thead>
          <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of listEmployees">
            <td>
              <img src="assets/images/avatar.jpg" alt="{{employee.name}} photo" class="avatar-md rounded" >
            </td>
            <td> {{employee.name}} </td>
            <td> {{employee.surname}} </td>
            <!--<td>{{ user.registered | date:'yMMMd' }}</td>-->
            <td> {{employee.website}} </td>
            <td> {{employee.phone}} </td>
            <td>
              <div class="navbar">
                <div >
                  <a (click)="loadDetailPage(employee)" class="dropdown-item">
                    <i class="icon icon-basic-message-multiple mr-3"></i>
                     <span>View order</span>
                  </a>
                  <a (click)="loadEditionPage(employee)" class="dropdown-item">
                    <i class="icon icon-basic-settings mr-3"></i>
                    <span>Edit</span>
                  </a>
                  <a (click)="deleteEmployeeRequest(employee)" href="javascript:;" class="dropdown-item clickable">
                    <i class="icon icon-basic-postcard mr-3"></i>
                    <span>Delete</span>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <strong *ngIf="listEmployees.length == 0">
      {{tableMessage}}
    </strong>
  </div>
</div>

<div class="card" *ngIf="pageToLoad == 'add page' || pageToLoad == 'edit page'">
  <strong class="card-header" *ngIf="pageToLoad == 'add page'">New employee</strong>
  <strong class="card-header" *ngIf="pageToLoad == 'edit page'">Edit employee</strong>
  <div class="card-body row">
    <div class="col-sm-3"></div>
    <div class="form-group col-sm-6">

      <label class="control-label">Name:</label>
      <input class="form-control bottom-spacer" type="text" [(ngModel)]="employee.name" name="name">

      <label class="control-label">Surname:</label>
      <input class="form-control bottom-spacer" type="text" [(ngModel)]="employee.surname" name="surname">

      <label class="control-label">cni:</label>
      <input class="form-control bottom-spacer" type="text" [(ngModel)]="employee.cni" name="cni">

      <label class="control-label">Birthday:</label>
      <input class="form-control bottom-spacer" type="date" [(ngModel)]="employee.birthday" name="birthday">

      <label class="control-label">Email:</label>
      <input class="form-control bottom-spacer" type="email" [(ngModel)]="employee.website" name="website">

      <label class="control-label">Phone:</label>
      <input class="form-control bottom-spacer" type="text" [(ngModel)]="employee.phone" name="phone">

      <label class="control-label">Hiring Date:</label>
      <input class="form-control bottom-spacer" type="date" [(ngModel)]="employee.hiringDate" name="hiringDate">

      <div class="form-group">
        <label class="control-label">WorkSpace:</label>
        <div ngbDropdown placement="top-right" class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownMenu2" ngbDropdownToggle>{{employee.workSpace.name}}</button>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" (click)="employee.workSpace = workSpace" *ngFor="let workSpace of workSpaces">{{workSpace.name}}</button>
          </div>
        </div>
      </div>
      <span class="bottom-spacer"></span>
      <div class="row bottom-spacer">
        <label class="control-label left-spacer"> Sex: </label>
        <div class="form-check col-sm-2">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" (click)="employee.sex = 'M'" [checked]="employee.sex == 'M'">
            Male
          </label>
        </div>
        <div class="form-check col-sm-2">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" (click)="employee.sex = 'F'" [checked]="employee.sex == 'F'">
            Female
          </label>
        </div>
      </div>
      <label>Photo:   </label>
      <label class="custom-file">
        <input class="custom-file-input" type="file" id="file" [(ngModel)]="photoFile">
        <span class="custom-file-control"></span>
      </label>
    </div>
  </div>
  <div class="card-footer row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <button class="btn btn-primary navbar-btn" (click)="submitForm()">Submit</button>
      <button class="btn btn-primary navbar-btn" (click)="pageToLoad = 'listing page'">Discard</button>
    </div>
  </div>
</div>

<div class="card" *ngIf="pageToLoad.startsWith('confirm') || pageToLoad == 'details page'">
  <strong class="card-header" *ngIf="pageToLoad == 'confirm edit page' || pageToLoad == 'confirm add page'">Confirm registration employee</strong>
  <strong class="card-header" *ngIf="pageToLoad == 'details page'">Employee details</strong>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3">
         <p>
          <img class="avatar-lg center-img" src="assets/images/avatar.jpg" alt="Card image"/>
        </p>

        <h5>
          {{employee.name}} {{employee.surname}}
        </h5>
      </div>
      <div class="col-lg-4">
          <p *ngIf="pageToLoad == 'details page' || pageToLoad == 'confirm edit page'">Employee Number: <strong>{{employee.id}}</strong></p>
          <p>Email: <strong>{{employee.website}}</strong> </p>
          <p>Cni: <strong>{{employee.cni}}</strong> </p>
          <p>Phone: <strong>{{employee.phone}}</strong> </p>
          <p>Birthday: <strong>{{employee.birthday}}</strong> </p>
      </div>
      <div class="col-lg-5">
          <p>Sex: <strong>{{employee.sex}}</strong> </p>
          <p>Work Space: <strong>{{employee.workSpace.name}}</strong> </p>
          <p>Hiring Date: <strong>{{employee.hiringDate}}</strong> </p>
          <p *ngIf="pageToLoad == 'details page'">Seniority: <strong>{{employee.seniority}}</strong> </p>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary navbar-btn" *ngIf="pageToLoad == 'details page'" (click)="pageToLoad = 'listing page'">Ok</button>
    <div *ngIf="pageToLoad.includes('confirm')">
      <button class="btn btn-primary navbar-btn"  (click)="saveInformation()">
        <span *ngIf="pageToLoad.includes('add')">Save</span>
        <span *ngIf="pageToLoad.includes('edit')">Update</span>
      </button>
      <button class="btn btn-primary navbar-btn" (click)="pageToLoad = pageToLoad.replace('confirm ','')">Discard</button>
    </div>
  </div>
</div>

