<div class="d-flex justify-content-between mb-5">
  <div>
    <button class="btn btn-primary" (click)="open(formCamera)">
      <i class="fa fa-plus-circle fa-lg mr-1"></i>Add Camera
    </button>
  </div>
  <div class="u-search">
    <form>
      <div class="form-group input-group">
        <div class="input-group-addon bg-search"><i class="fa fa-search fa-lg"></i></div>
        <input type="search" placeholder="Search" [(ngModel)] ="motCle" class="form-control" name="cameraSearch">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="bouton" (click)="searchCamera()" style="display:none"><span class="fa fa-search"></span></button>
      </div>
    </form>
  </div>
</div>

<div class="card"  *ngIf="cameras.length != 0">
  <div class="card-header">
    List of Cameras
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>front Camera</th>
          <th>back Camera</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cam of cameras; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td class="text-uppercase">{{ cam.frontCamera }}</td>
          <td>{{ cam.backCamera }}</td>
          <td>
            <button class="btn btn-warning table-btn-width" (click)="open(formCamera, cam)">
              <i class="fa fa-pencil fa-lg mr-1"></i>Edit
            </button> &nbsp
            <button  class="btn btn-danger table-btn-width" (click)="open(deleteCamera, cam)">
              <i class="fa fa-trash fa-lg mr-1"></i>Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<strong *ngIf="cameras.length == 0">
    {{tableMessage}}
 </strong>

<ng-template #deleteCamera let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Delete Camera</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete Camera <strong>(Back : {{ camera.backCamera }} Mpx, Front : {{ camera.frontCamera }} Mpx)</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDeleteCamera()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>

<ng-template #formCamera let-c="close">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{addEditCardHeader}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <p>Enter Role Informations for Camera</p>
        <div class="form-group row">
          <label for="role-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Front Camera</label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <input class="form-control" type="number" [(ngModel)]="camera.frontCamera" id="role-text-input" name="cameraFront">
          </div>
        </div>
        <div class="form-group row">
          <label for="desc-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Back Camera</label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <input class="form-control" type="number" [(ngModel)]="camera.backCamera" id="desc-text-input" name="cameraBack">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSaveCamera()">Save changes</button>
  </div>
</ng-template>
